<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.TosOrderMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.TosOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tus_user_id" jdbcType="BIGINT" property="tusUserId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="distribution_money" jdbcType="DECIMAL" property="distributionMoney" />
    <result column="group_time" jdbcType="TIMESTAMP" property="groupTime" />
    <result column="group_order_no" jdbcType="INTEGER" property="groupOrderNo" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="group_type" jdbcType="INTEGER" property="groupType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="trs_activity_id" jdbcType="BIGINT" property="trsActivityId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tus_user_id, order_no, status, order_time, pay_time, total_money, distribution_money, 
    group_time, group_order_no, type, group_type, create_date, modify_date, trs_activity_id
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.TosOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tos_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tos_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tos_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.TosOrderExample">
    delete from tos_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.TosOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tos_order (tus_user_id, order_no, status, 
      order_time, pay_time, total_money, 
      distribution_money, group_time, group_order_no, 
      type, group_type, create_date, 
      modify_date, trs_activity_id)
    values (#{tusUserId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{totalMoney,jdbcType=DECIMAL}, 
      #{distributionMoney,jdbcType=DECIMAL}, #{groupTime,jdbcType=TIMESTAMP}, #{groupOrderNo,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{groupType,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{trsActivityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.TosOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tos_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tusUserId != null">
        tus_user_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="distributionMoney != null">
        distribution_money,
      </if>
      <if test="groupTime != null">
        group_time,
      </if>
      <if test="groupOrderNo != null">
        group_order_no,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="groupType != null">
        group_type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="trsActivityId != null">
        trs_activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tusUserId != null">
        #{tusUserId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="distributionMoney != null">
        #{distributionMoney,jdbcType=DECIMAL},
      </if>
      <if test="groupTime != null">
        #{groupTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupOrderNo != null">
        #{groupOrderNo,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="groupType != null">
        #{groupType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trsActivityId != null">
        #{trsActivityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.TosOrderExample" resultType="java.lang.Long">
    select count(*) from tos_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tos_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tusUserId != null">
        tus_user_id = #{record.tusUserId,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.orderTime != null">
        order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalMoney != null">
        total_money = #{record.totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.distributionMoney != null">
        distribution_money = #{record.distributionMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.groupTime != null">
        group_time = #{record.groupTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupOrderNo != null">
        group_order_no = #{record.groupOrderNo,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.groupType != null">
        group_type = #{record.groupType,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null">
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trsActivityId != null">
        trs_activity_id = #{record.trsActivityId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tos_order
    set id = #{record.id,jdbcType=BIGINT},
      tus_user_id = #{record.tusUserId,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      total_money = #{record.totalMoney,jdbcType=DECIMAL},
      distribution_money = #{record.distributionMoney,jdbcType=DECIMAL},
      group_time = #{record.groupTime,jdbcType=TIMESTAMP},
      group_order_no = #{record.groupOrderNo,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      group_type = #{record.groupType,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      trs_activity_id = #{record.trsActivityId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.TosOrder">
    update tos_order
    <set>
      <if test="tusUserId != null">
        tus_user_id = #{tusUserId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="distributionMoney != null">
        distribution_money = #{distributionMoney,jdbcType=DECIMAL},
      </if>
      <if test="groupTime != null">
        group_time = #{groupTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupOrderNo != null">
        group_order_no = #{groupOrderNo,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="groupType != null">
        group_type = #{groupType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trsActivityId != null">
        trs_activity_id = #{trsActivityId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.TosOrder">
    update tos_order
    set tus_user_id = #{tusUserId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      distribution_money = #{distributionMoney,jdbcType=DECIMAL},
      group_time = #{groupTime,jdbcType=TIMESTAMP},
      group_order_no = #{groupOrderNo,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      group_type = #{groupType,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      trs_activity_id = #{trsActivityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>