<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.TusRelationshipConfigMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.TusRelationshipConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tus_user_id" jdbcType="BIGINT" property="tusUserId" />
    <result column="level_one" jdbcType="BIGINT" property="levelOne" />
    <result column="level_two" jdbcType="BIGINT" property="levelTwo" />
    <result column="take_order" jdbcType="INTEGER" property="takeOrder" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="team" jdbcType="BIGINT" property="team" />
    <result column="school" jdbcType="BIGINT" property="school" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tus_user_id, level_one, level_two, take_order, level, team, school, create_date, 
    modify_date
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.TusRelationshipConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tus_relationship_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tus_relationship_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tus_relationship_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.TusRelationshipConfigExample">
    delete from tus_relationship_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.TusRelationshipConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tus_relationship_config (tus_user_id, level_one, level_two, 
      take_order, level, team, 
      school, create_date, modify_date
      )
    values (#{tusUserId,jdbcType=BIGINT}, #{levelOne,jdbcType=BIGINT}, #{levelTwo,jdbcType=BIGINT}, 
      #{takeOrder,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{team,jdbcType=BIGINT}, 
      #{school,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.TusRelationshipConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tus_relationship_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tusUserId != null">
        tus_user_id,
      </if>
      <if test="levelOne != null">
        level_one,
      </if>
      <if test="levelTwo != null">
        level_two,
      </if>
      <if test="takeOrder != null">
        take_order,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="team != null">
        team,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tusUserId != null">
        #{tusUserId,jdbcType=BIGINT},
      </if>
      <if test="levelOne != null">
        #{levelOne,jdbcType=BIGINT},
      </if>
      <if test="levelTwo != null">
        #{levelTwo,jdbcType=BIGINT},
      </if>
      <if test="takeOrder != null">
        #{takeOrder,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="team != null">
        #{team,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        #{school,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.TusRelationshipConfigExample" resultType="java.lang.Long">
    select count(*) from tus_relationship_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tus_relationship_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tusUserId != null">
        tus_user_id = #{record.tusUserId,jdbcType=BIGINT},
      </if>
      <if test="record.levelOne != null">
        level_one = #{record.levelOne,jdbcType=BIGINT},
      </if>
      <if test="record.levelTwo != null">
        level_two = #{record.levelTwo,jdbcType=BIGINT},
      </if>
      <if test="record.takeOrder != null">
        take_order = #{record.takeOrder,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.team != null">
        team = #{record.team,jdbcType=BIGINT},
      </if>
      <if test="record.school != null">
        school = #{record.school,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null">
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tus_relationship_config
    set id = #{record.id,jdbcType=BIGINT},
      tus_user_id = #{record.tusUserId,jdbcType=BIGINT},
      level_one = #{record.levelOne,jdbcType=BIGINT},
      level_two = #{record.levelTwo,jdbcType=BIGINT},
      take_order = #{record.takeOrder,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      team = #{record.team,jdbcType=BIGINT},
      school = #{record.school,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.TusRelationshipConfig">
    update tus_relationship_config
    <set>
      <if test="tusUserId != null">
        tus_user_id = #{tusUserId,jdbcType=BIGINT},
      </if>
      <if test="levelOne != null">
        level_one = #{levelOne,jdbcType=BIGINT},
      </if>
      <if test="levelTwo != null">
        level_two = #{levelTwo,jdbcType=BIGINT},
      </if>
      <if test="takeOrder != null">
        take_order = #{takeOrder,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="team != null">
        team = #{team,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.TusRelationshipConfig">
    update tus_relationship_config
    set tus_user_id = #{tusUserId,jdbcType=BIGINT},
      level_one = #{levelOne,jdbcType=BIGINT},
      level_two = #{levelTwo,jdbcType=BIGINT},
      take_order = #{takeOrder,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      team = #{team,jdbcType=BIGINT},
      school = #{school,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>